/* NAV BAR */
.space{
  height:50px;
}
  ul.navbar{
    font-family:'Share Tech Mono', monospace;
    list-style-type: none;
    margin: -10px;
    padding: 85px;
    overflow: hidden;
    font-size:24px;
    text-align: center;
}
li.l1{
    float:left;
    padding-left: 175px;
    color: white;

}
li a {
    display: block;
    color: white;
    text-align: center;
    /* text-decoration: none; */
    margin-left: 20px;
}
a:hover {
    background-color: black;
}

div.navbarContainer{
  margin-left:3px;
}
.navbarContainer{
  border-style: double;
}


/* BODY */
body {
  /* background: url('images/UNORTHO.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover; */
 background-color: black;
}

/* Footer */
.footer {
  border-style: double;
  text-align: center;
}


/* Dropdown Button */
@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
	font-family: "Lato", Helvetica, Arial;
	font-size: 16px;
}

.text-center {
  text-align: center;
}

*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

.container {
	width: 350px;
	margin: 50px auto;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$blue: #2980B9;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin double-shadow($color) {
	@include box-shadow(0 1px 0 lighten($color, 10%) inset, 0 -1px 0 darken($color, 10%) inset);
}

@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//	Classes
// =============================================================================

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: $blue;
}

.dropdown {
	a {
		text-decoration: none;
	}

	[data-toggle="dropdown"] {
		position: relative;
		display: block;
		color: white;
		background: $blue;
		@include double-shadow($blue);
		@include hover-style($blue);
		@include text-shadow(0 -1px 0 rgba(0,0,0,0.3));
		padding: 10px;

	}
	.icon-arrow {
		position: absolute;
		display: block;
		font-size: 0.7em;
		color: #fff;
		top: 14px;
		right: 10px;

		&.open {
			@include transform(rotate(-180deg));
			@include transition(transform .6s);
		}
		&.close {
			@include transform(rotate(0deg));
			@include transition(transform .6s);
		}

		&:before {
			content: '\25BC';
		}
	}

	.dropdown-menu {
		max-height: 0;
		overflow: hidden;
		@include ul-nostyle;

		li {
			padding: 0;

			a {
				display: block;
				color: darken($gray, 50%);
				background: $gray;
				@include double-shadow($gray);
				@include hover-style($gray);
				@include text-shadow(0 -1px 0 rgba(255,255,255,0.3));
				padding: 10px 10px;
			}
		}
	}

	.show, .hide {
		@include transform-origin(50%, 0%);
	}

	.show {
		display: block;
		max-height: 9999px;
		@include transform(scaleY(1));
		@include animation(showAnimation .5s ease-in-out);
		@include transition(max-height 1s ease-in-out);
	}

	.hide {
		max-height: 0;
		@include transform(scaleY(0));
		@include animation(hideAnimation .4s ease-out);
		@include transition(max-height .6s ease-out);
	}
}

@include keyframes(showAnimation) {
	0% {
		@include transform(scaleY(0.1));
	}
	40% {
		@include transform(scaleY(1.04));
	}
	60% {
		@include transform(scaleY(0.98));
	}
	80% {
		@include transform(scaleY(1.04));
	}
	100% {
		@include transform(scaleY(0.98));
	}
	80% {
		@include transform(scaleY(1.02));
	}
	100% {
		@include transform(scaleY(1));
	}
}

@include keyframes(hideAnimation) {
  0% {
  	@include transform(scaleY(1));
  }
  60% {
  	@include transform(scaleY(0.98));
  }
  80% {
  	@include transform(scaleY(1.02));
  }
  100% {
  	@include transform(scaleY(0));
  }
}
/* Shopping Cart Buttons */
.shopping-cart {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 180, 255);
  position: relative;
  border: 27px solid rgb(0, 180, 255);
  background-image: linear-gradient(
    transparent 37%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 40%,
    transparent 0
  );
  background-origin: border-box;
}

.shopping-cart::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  width: 20px;
  background-image: linear-gradient(
    transparent 23%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 30%,
    transparent 0,
    transparent 60%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 70%,
    transparent 0
  ), linear-gradient(
    90deg,
    transparent 25%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 30%,
    transparent 0,
    transparent 65%,
    rgb(7, 38, 67) 0,
    rgb(7, 38, 67) 70%,
    transparent 0
  );
  border: 3px solid rgb(7, 38, 67);
  outline: 3px solid rgb(0, 180, 255);
  box-shadow: -2px 2px 0 4px rgb(7, 38, 67);
  transform: perspective(25px) rotateX(-25deg) translate(-33%, -50%);
  transform-origin: left top;
}

.shopping-cart::after {
  content: 'o o';
  font-size: 16px;
  color: rgb(7, 38, 67);
  white-space: pre;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 38%);
}

/* demo styles */
body {
  margin: 0;
  height: 100vh;
  background: #dadada;
}

button {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
