body {
	background: url('static/images/bg.jpg') no-repeat center center fixed;
	background-color: black;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
