<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>About UNORTHODOX</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about.css') }}"/>     
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <script src="{{ url_for('static',filename='js/about.js') }}"></script>

        <style type="text/css">
          body { background: url("{{ url_for('static',filename='images/bg.jpg') }}") no-repeat center center fixed; }
        </style>
    </head>

    <body>
        <header>
          <div  style="background-color:black; height:200px;"  class="navbarContainer">
            <ul class="navbar">
              <li class="l1"><a href="Home.html">HOME</a></li>
              <li class="l1"><a href="Men.html">MEN</a></li>
              <li class="l1"><a href="contact.html">CONTACT</a></li>
              <li class="l1"><a href="faq.html"/>FAQ</a></li>
              <li class="l1"><a href="about.html"/>ABOUT</a></li>
              <li class="l1"><a href="informal.html"/>INFORMAL</a></li>
              <li class="l1"><a href="formal.html"/>FORMAL</a></li>
            </ul>
          </div>
        </header>
        
        <h1>UNDOX<h1>
        <p style="color:white;">Welcome to UNDOX a clothing brand that create algorithms in order to track the amount of clothing that gets thrown away each month per company. So that I may re-use the material to produce the next design &amp; push forward into the next era. UNDOX is bridging the gap within past, present and future using #FASHION. Reinventing the way society communicates with each other.
        What clothing says about us is the identity we have established for ourselves . There are at least three levels of identity that clothing can convey to the observer: (1) personal; (2) cultural; and (3) historical. Creating algorithms in order to track the amount of clothing that gets thrown away each month per company. So that the company may re-use the material to produce the next design &amp; push forward into the next era. Passing down knowledge to the youth while also getting the last ubran trends. To manifest clothing in to artwork that the youth can call their own one that was creatied by the older generation but was alter by the youth and for the youth.</p>

        <footer style="background-color: black; height:50px;" class="footer">
          <button type="button" class="btn btn-outline-success">
            <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="Contact.html">CONTACT</a>
          </button>

          <button type="button" class="btn btn-outline-success">
            <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="About.html">ABOUT</a>
          </button>

          <button type="button" class="btn btn-outline-success">
            <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="FAQ.html">FAQ</a>
          </button>
        </footer>
    </body>
</html>
