<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>UnOrtho Formal Wear</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/formal_informal.css') }}"/> 
        <link rel="stylesheet" type="text/css" href="formal.css"/>

        <!-- <link rel="javascript" type="text/js" href="home.js"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="contact.css"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="faq.css"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="about.css"/> -->

        <!-- API SCRIPT TAGS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NWQ0MzI4MDgtMWMwMC00YjMzLWEzMDEtNjJiNzdjNzIzNzFhNjM2NzkwMjY5NjUxODA4Nzgz"></script>
        <script src="{{ url_for('static',filename='js/formal.js') }}"></script>
        
        <style type="text/css">
          body { background: url("{{ url_for('static',filename='images/bg.jpg') }}") no-repeat center center fixed; }
        </style>
    </head>

    <body>
        <header>
            <div  style="background-color:black; height:200px;"  class="navbarContainer">
                <ul class="navbar">
                    <li class="l1"><a href="home.html">HOME</a></li>
                    <li class="l1"><a href="men.html">MEN</a></li>
                    <li class="l1"><a href="contact.html">CONTACT</a></li>
                    <li class="l1"><a href="faq.html"/>FAQ</a></li>
                    <li class="l1"><a href="about.html"/>ABOUT</a></li>
                    <li class="l1"><a href="informal.html"/>INFORMAL</a></li>
                    <li class="l1"><a href="formal.html"/>FORMAL</a></li>
                </ul>
            </div>
        </header>

        <!--  One way to add text to the page        <div id="mekestest">
                                          <p>Let's see what happens here</p>
                                       </div>
        -->

        <h1>MEN</h1>
        <h2>Formal Wear</h2>

        <!-- Image header -->
        <div class="w3-display-container w3-container">
            <!-- <img src="" style="width:100%" alt="" /> -->
            <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
                <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
                <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
                <h1 class="w3-hide-small">COLLECTION 2016</h1>
                <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
            </div>

            <div class="w3-container w3-text-grey" id="jeans">
                <p>8 items</p>
            </div>
        </div>

        <!-- Product grid -->
        <div class="w3-row w3-grayscale">
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <img src="https://i.pinimg.com/736x/da/e3/36/dae3366e6f0da272f81271e384f0a06f.jpg" style="width:100%" alt="" />
                    <p>UNDOX Black Suit<br><b>$4,000</b></p>
                </div>

                <div class="w3-container">
                    <img src="https://a3655836d5c58a086ac2-4e8d43a89f100386d472e9f1a1dc59ca.ssl.cf3.rackcdn.com/images/original/966181791_01.jpg" style="width:100%" alt="" />
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black snipcart-add-item"
                        data-item-id="2"
                        data-item-name="UNDOX Blue Stripes Suit"
                        data-item-price="5,550"
                        data-item-weight="20"
                        data-item-url="http://myapp.com/products/bacon"
                        data-item-description="Blue Striped Suit">
                            Buy Now
                        <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>

                <p>UNDOX Blue Stripes Suit<br><b>$5,550</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://images.menswearhouse.com/is/image/TMW/MWTSP18_PROM_PSL_FML_1795_MAIN_TXO_ON?$TUXPGPMAIN3$" style="width:100%" alt="" />
                    <span class="w3-tag w3-display-topleft">New</span>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p>UNDOX Black &amp; White Suit<br><b>9,500</b></p>
            </div>

            <div class="w3-container">
                <img src="https://a3655836d5c58a086ac2-4e8d43a89f100386d472e9f1a1dc59ca.ssl.cf3.rackcdn.com/images/original/966182291_01.jpg" style="width:100%" alt="" />
                <p>UNDOX Dark Blue Strip Suit<br><b>$6,500</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="https://images.menswearhouse.com/is/image/TMW/MWTSP16_PSL_FML_WED_CKSHWL_MAIN?$TUXPGPMAIN3$" style="width:100%" alt="" />
                <p>UNDOX Black Suit<br><b>$7,400</b></p>
            </div>

            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://images.menswearhouse.com/is/image/TMW/MWTSP18_PROM_PSL_FML_1370_MAIN_ON?$TUXPGPMAIN3$" style="width:100%" alt="" />
                    <span class="w3-tag w3-display-topleft">Sale</span>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p>UNDOX Grey Suit <br><b class="w3-text-red">$8,000</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="https://images.menswearhouse.com/is/image/TMW/MWTSU18_PROM_PSL_FML_1919_MAIN_TXO?$TUXPGPMAIN3$" style="width:100%" alt="" />
                <p>UNDOX Blue Suit<br><b>$7,100</b></p>
            </div>
            <div class="w3-container">
                <img src="https://images.menswearhouse.com/is/image/TMW/MWTSP16_PSL_FML_WED_JFBLKCUT_MAIN?$TUXPGPMAIN3$" style="width:100%" alt="" />
                <p>UNDOX Zoot Suit <br><b>$1,500</b></p>
            </div>
        </div>


        <footer style="background-color: black; height:50px;" class="footer">
            <button type="button" class="btn btn-outline-success">
              <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="Contact.html">CONTACT</a>
            </button>

            <button type="button" class="btn btn-outline-success">
              <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="About.html">ABOUT</a>
            </button>

            <button type="button" class="btn btn-outline-success">
              <a style="text-align:center; color:white; font-family:'Share Tech Mono', monospace; font-size:15px; "target="blank" href="FAQ.html">FAQ</a>
            </button>
        </footer>

        <script>
            // var publicPayMayaKey = "pk-nRO7clSfJrojuRmShqRbihKPLdGeCnb9wiIWF8meJE9:";
            // var secretPayMayaKey = "sk-jZK0i8yZ30ph8xQSWlNsF9AMWfGOd3BaxJjQ2CDCCZb:";
            // var payMayaURL = "https://sandbox-checkout-api.paymaya.com/v1/checkouts";

            // var testCreditCard = {"card": "MASTERCARD", "cardNumber": "5123456789012346", "expiryYear": "19", "expiryMonth":"05", "csv": "111"};

            // var snipcart = 'NWQ0MzI4MDgtMWMwMC00YjMzLWEzMDEtNjJiNzdjNzIzNzFhNjM2NzkwMjY5NjUxODA4Nzgz';
            // var datakey = 'data-api-key';
            // var acceptStatement = 'Accept:', acceptValue = 'application/json';
            // var headers = {datakey: snipcart, acceptStatement: acceptValue };
            //
            // fetch("https://app.snipcart.com/api/orders?limit=5", {
            // headers: headers,
            // mode: 'no-cors',
            // method: "POST"
            // }).then(res => res.json())
            // .then(response =>
            // console.log('Success:', JSON.stringify(response)))
            // .catch(function(error) {
            // console.log('Looks like there was a problem: \n', error);
            // });


            // One way to add text to the page       var thestatement = document.createTextNode("This API is not a nice API");
            // One way to add text to the page       document.getElementById("mekestest").appendChild(thestatement);
        </script>
    </body>
</html>
